body{
    background-color:rgb(13, 128, 103);
    font-family:monospace;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
main{
    background-color:rgb(220, 207, 240);
    padding:20px;
    border-radius: 10px;